body * {
    box-sizing: border-box;
}

.block {
    margin-bottom: 1rem;
    border: 1px solid #34c6d9;
    border-radius: .125rem;
    box-shadow: 0 2px 4px gainsboro;
    overflow: hidden;
    transition: height 500ms;
}

.block p {
    margin: 0;
    line-height: 1.4;
}

.block p+p {
    margin-top: 1em;
}

.block__title {
    position: relative;
    padding: 1rem;
    padding-right: 2rem;
    line-height: 1px;
    font-weight: bold;
    background-color: #25bad0;
    cursor: pointer;
    user-select: none;
    color: #053740;
}

.block__title:hover {
    opacity: .8;
}

.block__title h3 {
    margin: 0;
    color: #053740;
}

.ui-layout-pane {
    padding: 0px;
}

.block__title::after {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: .75em;
    height: 100%;
    padding-right: 1rem;
    font-size: 1.17em;
    background: #25bad0;
}

.block.is-collapsed .block__title::after {
    content: '+';
}

.block.is-expanded .block__title::after {
    content: '-';
}

.block__content {
    color: #34c6d9;
}