<li class="file" data-path="{{path}}">
    <a href="#"><i class="far fa-file"></i><span>&nbsp;&nbsp;{{name}}</span> <i class="icon-chevron-sign-right"></i></a>
    <div class="btn-group cus-dd">
        <a class="btn dropdown-toggle ddt" data-toggle="dropdown" href="#">
            <i class="fas fa-ellipsis-v"></i>
        </a>
        <ul class="dropdown-menu cs-ddm">
            <li><a href="#" class="rename">Rename</a></li>
            <li><a href="#" class="text-error del">Delete</a></li>
        </ul>
    </div>
</li>